os: linux
dist: xenial

language: ruby
rvm:
  - 2.2
  - 2.5

addons:
  apt:
    update: true

before_install:
  - gem install bundler -v 2.0.2
install:
  - bundle install --jobs 16 --retry 3 --production
script:
  - bundle exec rake --trace
